body {
    margin: 0;
  }
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid black;
    background-color: white;
  }
  
.logo {
    font-size: 24px;
    font-weight: bold;
    
  }
.logo:hover{
    text-decoration:underline;

}
.nav-links {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
.nav-links{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: normal;
  }
  
.nav-links:hover {
    text-decoration: underline;
  }
.main-body h1{
    text-align:center;
    font-size: 60px;
    line-height: 1;
    
    
}
.future-room img{
    
    align-content: center;
    width:1344px;
    height:672px;
    Border:1px solid black;
    margin-bottom:20px
}
.gallery{
    width: 1344px;
    height: 1191px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.gallery .photos{
    width: 1344px;
    height: 429px;
    margin-left: 45px;
}
.gallery .photos img{
    width: 416px;
    height: 277px;
    margin: 2px;
}



